__pycache__/
*.pyc
build/
.DS_Store
# generated build artifacts (asmbuild/beebasm outputs; disc build intermediates)
*.bin
ANIMBOOT
ANIMDRV
BOOT
DRV
WALKDRV
!BOOT
# personal working files
*.png
*.pdf
*.html
*_files/
Screenshot*
line-test/
line-test*/
*.zip
doom_debug.txt
virus/
engine_syms.inc
